canvas{
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: black; */
}

#BackgroundColor{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #FFFFFF;
    font-size: 40px;
}